
@{
    ViewBag.Title = "LoginError";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align:center">
    <h2 style="color:white"><i>Sayfayı görüntülemek için lütfen kullanıcı girişi yapın</i></h2>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


